::selection {
  color: var(--color-accent--yellow);
  background: var(--bg-secondary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  background: inherit;
  border: none;
  cursor: pointer;
}

img, video {
  max-width: 100%;
  display: block;
}

svg {
  vertical-align: center;
}

input {
  outline: none;
}
