$container-width: 1280;

:root {
  --z-nav: 11;
  --z-modal: 10;
  --z-overlay: 9;
  --z-dropdown: 7;

  // font
  --font-size: 16px;
  --font-size-lg: 24px;

  // border radius
  --border-radius-xs: 7px;
  --border-radius-s: 15px;

  // components
  --nav-size: 180px;
  --header-height: 50px;
}
