.app {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
}

.main {
  padding: 40px 20px;
  flex-grow: 1;
  transition: 0.3s ease transform;

  &.active {
    transition: 0.3s ease transform;
  }
}

.header {
  height: var(--header-height);
}

.nav {
  position: fixed;
  padding: 40px 10px 20px;
  height: calc(100vh - 4%);
  left: 2%;
  bottom: 2%;
  transform: translateX(-500px);
  transition: 0.3s ease transform;
  backdrop-filter: blur(2px);
  border-radius: var(--border-radius--s);
  z-index: var(--z-nav);
  background: rgba(0, 0, 0, 0.3);

  &.active {
    width: calc(var(--nav-size) * 2);
    transform: translateX(0);
    transition: 0.3s ease transform;
  }
}
