.cards {
  --gap: 30px;
  --elements: 3;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.cards__item {
  min-height: 400px;
  background-color: aqua;
  width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
}

@media (max-width: 1024px) {
  .cards {
    --elements: 2;
  }
}

@media (max-width: 576px) {
  .cards {
    --elements: 1;
  }
}
