.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.block {
  min-width: 700px;
  padding: 20px 60px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
