.float-wrapper label {
  font-variant: all-small-caps;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -75%) scale(1);
  transform-origin: top left;
  transition: all .1s ease-in-out;
  color: inherit;
}

.float-wrapper input {
  height: 100%;
  width: 100%;
  padding: 25px 30px 5px;
  background: inherit;
  color: inherit;
  transition: 0.1s background ease;
  border-radius: var(--border-radius-xs);
  border: none;

  &:-webkit-autofill {
    box-shadow: 0 0 0 40rem var(--bg-primary) inset;
    -webkit-text-fill-color: var(--color-primary);
    appearance: none;
  }

  &:focus {
    background: var(--bg-secondary);
  }
}

.float-wrapper {
  position: relative;
  background: var(--bg-primary);
  color: var(--color-primary);
  border-radius: var(--border-radius-xs);
  overflow: hidden;
  height: 45px;

  svg {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }

  &.error {
    border: 1px solid var(--color-error);
  }

  &.error label {
    color: var(--color-error);
  }

  &.error svg {
    color: var(--color-error);
  }

  &.active label {
    transform: translate(0, -20px) scale(.75);
    color: var(--color-accent-yellow);
  }

  &.active input {
    border-bottom: 4px solid var(--bg-accent);
  }
}
